@* Views/Home/Index.cshtml *@
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1>Welcome to the BorrowLend Application</h1>
    @* <h2>Select an option:</h2>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="@Url.Action("Index", "Item")" class="btn btn-primary">View Items</a>
        <a href="@Url.Action("Create", "Item")" class="btn btn-secondary">Add New Item</a>
        <a href="@Url.Action("Privacy", "Home")" class="btn btn-info">Privacy Policy</a>
    </div> *@
</div>
